<!--Quarto passo foi criar a view  das lojas-->
@model List<LojasModel>
@{
    ViewData["Title"] = "Lista de lojas";
}

<h1> Lista de Lojas</h1>

@if (TempData["MenssagemSucesso"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
       
        @TempData["MenssagemSucesso"]
    </div>
}
@if (TempData["MenssagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
    <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
   
</div>
}
<br></br>

<!--div para deixar o texto e a tabelas no centro da tela-->
<div class="text-center">
    <!--Criacão da tabela Provisória de lojas(serao inseridas pelo banco)-->
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Localização</th>
                <th scope="col">Seguimento</th>
                <th scope="col">Telefone</th>

            </tr>
        </thead>
        <tbody>
            <!--inicio uma condição se o model for nula e contiver  alguma coisa-->
            @if (Model != null && Model.Any())
            {
                <!--Laço de repetição -->
                @foreach (LojasModel lojas in Model)
                {
                    <tr>
                        <th scope="row">@lojas.Id</th>
                        <td>@lojas.Nome</td>
                        <td>@lojas.Localizacao</td>
                        <td>@lojas.Seguimento</td>
                        <td>@lojas.Telefone</td>
                        <td>
                            <!--div com botoes para editar e apagar as lojas-->
                            <div class="btn-group" role="group">
                                <a role="button" class="btn btn-success" asp-route-id="@lojas.Id" asp-controller="Lojas" asp-action="Editar">Editar</a>
                                <a role="button" class="btn btn-dark" asp-route-id="@lojas.Id" asp-controller="Lojas" asp-action="ApagarConfirmacao">Apagar</a>
                            </div>
                        </td>
                    </tr>
                }

            }

        </tbody>
    </table>
</div>
<!--Quebra linha-->
<br></br>
<!--Botão para redirecionar para a tela de novos cadastros de lojas-->
<div class="d-grid gap-2 d-md-flex justify-content-md-start">
    <!--Tracando a rota do botão cadastrar na controller Lojas com a acão de Cadastrar-->
    <a class="btn btn-warning" role="button" asp-controller="Lojas" asp-action="Cadastrar"><strong>Cadastrar Loja</strong></a>
</div>
<br>
<div class="d-grid gap-2 d-md-flex justify-content-md-start">
    <!--Tracando a rota do botão cadastrar na controller Lojas com a acão de Cadastrar-->
    <a class="btn btn-success" role="button" asp-controller="Produtos" asp-action="CadastrarProdutos"><strong>Cadastrar Produtos</strong></a>
</div>

@*<div class="btn-group" role="group" aria-label="Basic example">
  <a type="button" class="btn btn-primary">Left</a>
  <button type="button" class="btn btn-primary">Middle</button>
  <button type="button" class="btn btn-primary">Right</button>
</div>*@







