<!--Quarto passo foi criar a view  das lojas-->
@model List<LojasModel>
@{
    ViewData["Title"] = "Lista de lojas";
}

<h1> Lista de Lojas</h1>

<!--div para deixar o texto e a tabelas no centro da tela-->
<div class="text-center">
    <!--Criacão da tabela Provisória de lojas(serao inseridas pelo banco)-->
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Localização</th>
                <th scope="col">Seguimento</th>
                <th scope="col">Telefone</th>

            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                @foreach (LojasModel lojas in Model)
                {
                    <tr>
                        <th scope="row">@lojas.Id</th>
                        <td>@lojas.Nome</td>
                        <td>@lojas.Localizacao</td>
                        <td>@lojas.Seguimento</td>
                        <td>@lojas.Telefone</td>
                        <td>
                            <!--div com botoes para editar e apagar as lojas-->
                            <div class="btn-group" role="group">
                                <a role="button" class="btn btn-success" asp-route-id="@lojas.Id" asp-controller="Lojas" asp-action="Editar">Editar</a>
                                <a role="button" class="btn btn-dark"asp-route-id="@lojas.Id" asp-controller="Lojas" asp-action="ApagarConfirmacao">Apagar</a>
                            </div>
                        </td>
                    </tr>
                }

            }

        </tbody>
    </table>
</div>
<!--Quebra linha-->
<br></br>
<!--Botão para redirecionar para a tela de novos cadastros de lojas-->
<div class="d-grid gap-2 d-md-flex justify-content-md-start">
    <!--Tracando a rota do botão cadastrar na controller Lojas com a acão de Cadastrar-->
    <a class="btn btn-warning" role="button" asp-controller="Lojas" asp-action="Cadastrar"><strong>Cadastrar Loja</strong></a>
</div>






